label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }



  /* css for loader */
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #fff701; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;

    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  